body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Nav styles*/
.navbar-styles {
  justify-content: center;
  /* list-style: none; */
  margin: 0;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  /* text-align: center; */
}

.navbar-styles ul {
  list-style: none;
  display: flex;
}

.navbar-styles a:hover {
  background-color: #ddd;
  color: black;
}

.navbar-styles a {
  text-decoration: none; 
  color: #333;
  padding: 8px 12px;
  margin: 8px 0;
  transition: color 0.2s;
}

.navlink {
  text-decoration: none;
  color: #333;
  padding: 8 px 12px;
  margin: 8px 0;
  display: block;
  transition: color 0.2s;
}

.navlink:hover {
  color: #007bff;
}

/*Login/Register Card*/



/*AccountInfo and Profile card*/
.profile-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  max-width: 300px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  /* transition: all 0.3s ease; */
  height: 200px;
  perspective: 1000px;
  position: relative;
  transition: transform 0.5s;
}

.profile-card.editing {
  border: 2px solid #007bff;
}

.profile-card form {
  display: flex;
  flex-direction: column;
}

.profile-card input {
  margin-bottom: 10px;
  padding: 5px;
}

.profile-card button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.profile-card button:hover {
  background-color: #0056b3;
}

.profile-card-front,
.profile-card-back {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  backface-visibility: hidden;
}

.profile-card.flipped {
  transform: rotateY(180deg);
}

.profile-card-back {
transform: rotateY(180deg);
}